html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: Poppins, "Segoe UI", Roboto, "Helvetica Neue", Arial, "sans-serif";
	background: linear-gradient(90deg,#050710,#0d0f27,#2a042e);
	color: #fff;
	background: url(https://trilon.io/_nuxt/img/d6afe7c.png) 50% repeat-y #050710;
    background-image: linear-gradient(90deg, rgb(5, 7, 16), rgb(13, 15, 39), rgb(42, 4, 46));
    background-position-x: initial;
    background-position-y: initial;
    background-size: contain;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
